build*
build_x64*
ipch
tmp
x64
Debug
*.sdf
*.opensdf
*.suo
*.swp
*.user
*.obj
*.log
*.tlog
*.lastbuildstate
*.VC.VC.opendb
*.VC.db
*.aps
*.exp
*.ilk
.DS_Store
.idea
.vs
.vscode
cmake-build-debug
# ignore AppleDouble files
._*
GeneratedCodes*

#gralde
!Source/Client/CrossPlatform/Android/Demo/gradle-6.3/bin
!Source/Client/CrossPlatform/Android/Demo/gradle-6.3/lib

#ignore jre lib bin
jre/Contents/Home/lib
jre/Contents/Home/bin

bin/Visual_Studio_15_2017_Win64_md
bin/Visual_Studio_16_2019_Win64_md
build-x64/
GPUCache/

Tools/dotnet
Resource/EngineResource/Animation/StoryBoardTemplate.nda

Source/CrossEditor/CrossEditor/Source/CrossEditor/Runtime/PInvoke/Generated
Source/Runtime/Editor/Generated
Source/Runtime/Scripts/EngineLayer/Generated

Source/SwigConfigs
GeneratedCode
compile_commands.json
.crossengine_envs